       h1 { color:rgb(168, 232, 255); 
  font-family: 'comic sans ms';
  font-size: 50px;}
        h2 { color:rgb(175, 199, 255);
         font-family: 'comic sans ms';
  font-size: 30px;}
        li { color:rgb(164, 191, 255);
         font-family: 'comic sans ms';
  font-size: 30px;}
        body { background-color: rgb(0, 0, 0);}
  img {
  max-width: 75%;
  height: auto;
}

nav{ margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
        }
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 15px 30px;
}

/* Brand logo styling */
.nav-logo {
  color: #b6eeff;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none; }
.nav-links li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none; 
  font-size: 50px;
  transition: 0.3s ease;
}

.nav-links li a:hover {
  background-color: hsl(0, 0%, 0%);
  color: #a6fbff;
  border-radius: 4px;
}

img:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;

}
.navbar {
  outline: 2px solid #2be3ff;
}
.navbar {
  box-shadow: 0px 4px 10px #2be3ff;
}
.navbar {
  border-bottom: 2px solid #2be3ff;
}