       h1 { color:lightblue; 
  font-family: 'comic sans ms';
  font-size: 50px;}
        h2 { color:lightpink;
         font-family: 'comic sans ms';
  font-size: 30px;}
        li { color:lightcyan;
         font-family: 'comic sans ms';
  font-size: 30px;}
        body { background-color: black;}

nav{ margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
        }
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 15px 30px;
}

/* Brand logo styling */
.nav-logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}


.nav-links {
  display: flex;
  list-style: none; }
.nav-links li a {
  display: block;
  color: #c1b6ff;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none; 
  font-size: 50px;
  transition: 0.3s ease;
}

.nav-links li a:hover {
  background-color: hsl(203, 100%, 86%);
  color: #fff;
  border-radius: 4px;
}

