       h1 { color:lightblue; 
  font-family: 'comic sans ms';
  font-size: 25px;}
        h2 { color:lightpink;
         font-family: 'comic sans ms';
  font-size: 20px;}
        li { color:lightcyan;
         font-family: 'comic sans ms';
  font-size: 20px;}
        body { background-color: black;}

